<%= javascript_tag do %>
$(function(){

	$('#calendar').fullCalendar({
		lang: 'ja',
		height:1000,
		editable: true,
		eventDrop: function(event, delta, revertFunc) {
			//移動した後のイベント

			this_data = event;
			if(this_data.label == 'staff'){
				$('.edit .staff').show();
				$('.edit .staff .name').text(this_data.title);
				$('.edit .staff .date input').val(event.start.format());
				$('.edit .staff .start input').val(event.start.format());
				$('.edit .staff .end input').val(event.end.format());
				$('.edit .staff .id').val(this_data.work_id);
				$('.edit .staff .staff_id').val(this_data.work_staff_id);

				var staff_id = this_data.work_staff_id;
				var form_action = $('.edit .staff form').attr('action');
				$('.edit .staff form').attr('action',form_action.replace(/(staffs)/,'$1/'+staff_id));
				var btn_href = $('.edit .staff .del').attr('href');
				$('.edit .staff .del').attr('href',btn_href.replace(/(staffs)/,'$1/'+staff_id+'?work[id]='+this_data.work_id));
			} else {
				$('.edit .reservation').show();
				$('.edit .reservation .name').text(this_data.title);
				$('.edit .reservation .day input').val(event.start.format());
				$('.edit .reservation .time input').val(event.end.format());
				$('.edit .reservation .member input').val(this_data.reservation_member);
				$('.edit .reservation .content input').val(this_data.reservation_content);

				var r_id = this_data.reservation_id;
				var form_action = $('.edit .reservation form').attr('action');
				$('.edit .reservation form').attr('action',form_action.replace(/(reservations)/,'$1/'+r_id));
				var btn_href = $('.edit .reservation .del').attr('href');
				$('.edit .reservation .del').attr('href',btn_href.replace(/(reservations)/,'$1/'+r_id));
			}
			
    },
    eventClick: function(calEvent) {
         alert(calEvent.popup);
    },
		eventRender: function(events, element) {
			
    },
		header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
		},
		displayEventEnd:{
		    month: true,
		    basicWeek: true,
		    'default': true
		},	
		events: 
			<%= raw @works_json.to_json() %>
		,
			timeFormat: 'H:mm', // uppercase H for 24-hour clock

		})
		
})

<% end %>
<div class="edit">
	<div class="edit_bd">
		<div class="staff">
			<%= render 'edit_staff' %>
		</div>
		<div class="reservation">
			<%= render 'edit_reservation' %>
		</div>
	</div>
</div>
<div id="calendar"></div>