<%= javascript_tag do %>
$(function(){
	$('#calendar').fullCalendar({
		lang: 'ja',
		height:1000,
		eventRender: function(events, element) {
			//if(events.img){
			//    $(element[0]).find('.fc-title').prepend('.fc-content')
			//imgプロパティが存在するイベントだけtitleを画像に差し替え
			//    .css("border-color", "transparent")
			//    .css("background-color", "transparent")
			//    .html('<img src="'+events.img+'" width="32" height="32" class="icon" alt="'+ events.title +'" title="'+  events.title +'" />');
			//}
    },
		header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
			},
		displayEventEnd:{
    month: true,
    basicWeek: true,
    'default': true
},	
		events: 
		<%= raw @works_json.to_json() %>
	,
		timeFormat: 'H:mm', // uppercase H for 24-hour clock

	})
	//$($(".fc-event-container")[0]).addClass('icons').prepend($('.fc-content'));
	//$(".fc-time").css('display','none');
})
  
<% end %>

<div id="calendar"></div>