<%# if user_signed_in? %>
<h1>スタッフ一覧</h1>

<section>
  <div class="contents pure-g">
    <div class="pure-u-5-6">
      <%= render 'schedule' %>
    </div>
    <div class="sidenavi pure-u-1-6">
      <table class="staff_table">
				<tr>
					<th>名前</th>
				</tr>
				<% @staffs.each do |staff| %>
					<tr>
						<td><%= link_to staff.name,staff_path(staff) %>　<% if staff.icon? %> <%= image_tag(staff.icon, :size => "16x16") %> <% end %></td>
					</tr>
				<% end %>
			</table>
    </div>
  </div>
</section>

<%# end %>