<header>
  <div class="header pure-g">
    <h1 class="pure-u-1-2"><%= link_to 'Blog title', blogs_path %></h1>
    <aside class="pure-u-1-2">
    	<ul>
    		<li><a href="">a</a></li>
    		<li><a href="">b</a></li>
    		<li><a href="">d</a></li>
    		<li class="contact"><a href="">Contact</a></li>
    	</ul>
    </aside>
  </div>
</header>