<aside>
  <div class="side">
	  <div class="box">
	  	<h3>category</h3>
	    <ul>
	      <li><a href=""></a></li>
	      <li><a href=""></a></li>
	      <li><a href=""></a></li>
	    </ul>
	  </div>
  </div>
</aside>