<%= render 'shared/header' %>
<section>
  <div class="contents blog row">
    <div class="postslist col-sm-12 col-md-8">
      <%= render 'contents' %>
    </div>
    <div class="sidenavi col-sm-12 col-md-4">
      <%= render 'side' %>
    </div>
  </div>
</section>
<%= render 'shared/footer' %>