
<section>
  <div class="contents blog row">
    <div class="postslist col-sm-12 col-md-8">
      <article>
				<% @tag.each do |d| %>
	      	<% if d.status %>	
						<%= render 'post', val: d %>
					<% end %>
				<% end %>
			</article>
    </div>
    <div class="sidenavi col-sm-12 col-md-4">
      <%= render 'side' %>
    </div>
  </div>
</section>
