<%= render 'layouts/header' %>
<%= javascript_tag do %>
$(function(){
  $('.search_btn').click(function(){
      if($('#datetimepicker1 input').val().length>0){
          var date = $('#datetimepicker1 input').val().split(/\s/)[0].replace(/\//g,'-');
          location.href = '/reservations/list/' +date;
      } else {
          $(this).parents('.reservation').find('.error_date').css('display','block');
          return  false;
      }
  });
})

<% end %>
<section>
  <div class="contents blog row">
    <div class="kv"><img src="http://lorempixel.com/800/240/city/" alt=""></div>
    <div class="reservation">
      <h3>予約をする</h3>
      <%= render 'reservations/search' %>  
    </div>

    <div class="feature">
      <ul class="row">
        <li class="col-sm-12 col-md-4">つれづれなるまゝに、日暮らし、硯にむかひて、心にうつりゆくよしなし事を、そこはかとなく書きつくれば、あやしうこそものぐるほしけれ。（Wikipediaより）つれづれなるまゝに、日暮らし、硯にむかひて、心にうつりゆくよしなし事を、そこはかとな</li>
        <li class="col-sm-12 col-md-4">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。</li>
        <li class="col-sm-12 col-md-4">と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰を抜かす奴があるかと云ったから、この次は抜かさずに飛んで見せますと答えた。（青空文庫より）</li>
      </ul>
    </div>
  </div>
</section>
<%= render 'layouts/footer' %>