
<%= javascript_tag do %>
$(function(){
	$('.search_btn').click(function(){
      if($('#datetimepicker1 input').val().length>0){
          var date = $('#datetimepicker1 input').val().split(/\s/)[0].replace(/\//g,'-');
          location.href = '/reservations/list/' +date;
      } else {
          $(this).parents('.reservation').find('.error_date').css('display','block');
          return  false;
      }
  });
	$('#calendar').fullCalendar({
		lang: 'ja',
		header: {
				left: 'prev,next today',
				center: 'title',
				right: ''
			},
		events: 
		<%= raw @reservation_list.to_json %>,
    dayClick: function(date, jsEvent, view) {
				location.href = '/reservations/list/' + date.format();
    },
		timeFormat: 'H:mm', // uppercase H for 24-hour clock
	})

})
$(function(){
	$('.fc-day').mouseover(function(){
		$(this).addClass('on');
	})
	$('.fc-day').mouseout(function(){
		$(this).removeClass('on');
	})
	var data = {'data-format': 'yyyy-MM-dd hh:mm:ss' };

    $('.datepicker').attr(data);
    $('.datepicker').datetimepicker();
})
<% end %>

<section>
  <div class="contents reservations row">
	  <div class="reservation">
	  	<h4 class="tbar">ご予約はこちらから</h4>
      <%= render 'search' %>
    </div>
    <div id="calendar"></div>
  </div>
</section>
