
<h1>予約</h1>
<%= javascript_tag do %>
<%# binding.pry %>
$(function(){
	$('#calendar').fullCalendar({
		lang: 'ja',
		header: {
				left: 'prev,next today',
				center: 'title',
				right: ''
			},
		events: 
		<%= raw @reservation_list.to_json %>,
    dayClick: function(date, jsEvent, view) {
				location.href = '/reservations/list/' + date.format();
    },
		timeFormat: 'H:mm', // uppercase H for 24-hour clock
	})

})
$(function(){
	$('.fc-day').mouseover(function(){
	$(this).addClass('on');
	})
	$('.fc-day').mouseout(function(){
	$(this).removeClass('on');
	})
})
<% end %>

<section>
  <div class="contents reservations pure-g">
    <div id="calendar" class="pure-u-3-5"></div>
    <div class="sidenavi pure-u-2-5">
      <%= render 'form' %>
    </div>
  </div>
</section>
