
<h1>予約</h1>
<%= javascript_tag do %>
<%# binding.pry %>
$(function(){
	$('#calendar').fullCalendar({
		lang: 'ja',
		header: {
				left: 'prev,next today',
				center: 'title',
				right: ''
			},
		events: 
		<%= raw @reservation_list.to_json %>,
    eventClick: function(calEvent, jsEvent, view) {
    <%#= redirect_to :action => "show", :id => reservation_path(1) %>
				location.href = '/reservations/' + calEvent.id;
    },
    eventMouseover: function(){
			$(this).css('background', '#fcc');
    },
    eventMouseout: function(){
			$(this).css('background', '#fc0');
    },
		timeFormat: 'H:mm', // uppercase H for 24-hour clock
	})

})
  
<% end %>

<section>
  <div class="contents pure-g">
    <div id="calendar" class="pure-u-3-5"></div>
    <div class="sidenavi pure-u-2-5">
      <%#= render 'form' %>
    </div>
  </div>
</section>
