/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 *= require 'fullcalendar.min'
 *= require bootstrap
 *= require bootstrap-datetimepicker
 */

@import 'reservations.css.scss';

ul{
		list-style-type: none;
		padding-left: 0;
	}

.new_user {
background: #fff;
max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.form-signin .checkbox {
  font-weight: normal;
}

.checkbox label, .radio label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}
.checkbox input[type="checkbox"]{
  margin-left: 0 !important;
}

label {
color: #777;
font-size: 14px;
}

input,
form input[type=checkbox] {
background: #fbfbfb;
}
.field_with_errors {
  float: none;
}
.devise br{
display:none;
}
.devise .btn{
margin-top: 16px;
}
.devise .field_with_errors .form-control,
.error {
  border:1px solid #EF9494 !important;
}

.tbar {
	margin-bottom: 16px;
	font-size: 24px;
}
.dpn{
	display:none;
}
.dpb{
	display:block;
}
.tac{
	text-align: center;
}


.fc-day-grid-event .fc-time {
float: right;
font-size: 90%;
line-height: 1.7;
color: #fff;
}
.fc-event-container a {
padding: 4px 4px 0;
}


@media all and (max-width:768px) {

}
