// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$basebgcolor: #e5e5e5;
$basemargin: 8px;
$baselinkcolor : #464646;
$sidelinkcolor: #429e99;
$basefontsize : 150%;

body{
	font-size: $basefontsize;
}

.header{
	margin: $basemargin*2 $basemargin;
	padding: $basemargin*2 0;
	border-bottom: 1px solid $basebgcolor;
	overflow: hidden;
	h1 {
		padding-bottom: 19px;
		margin-top: 0;
		margin-bottom: 0;
		line-height: 40px;
		float: left;
	}
	.smart{
		display: none;
	}
	a {
		text-decoration:none;
		color: $baselinkcolor;
		&:hover{
			text-decoration:none;
			color: $baselinkcolor;
		}
	}
	.nav{
		text-align:right;
	}
	li{
		.signin {
			background: #333;
			color: #fff;
			&:hover{
				color: #333;
			}
		}
		.signout {
			background: #ccc;
		}
	}
}

.contents{
	margin: $basemargin*2 $basemargin;
	
	.option{
		a{
			color: $sidelinkcolor;
			text-decoration:underline;
		}
	}
	.article {
		margin: 32px 0;
	}
	.photo{
		margin: 8px auto;
	}
	.text{
		color: #666;
		font-size: 20px;
	}
}

.postslist {
	padding: 0;
	a {
		color: $baselinkcolor;
		text-decoration:none;
	}
	h2{
		font-size: $basefontsize *1.5;
		text-shadow: -1px -1px 0px #eee;
	}
	.more{
		margin: $basemargin*2 0;
	}
}

.post{
	margin-bottom: $basemargin*4;
	padding: 0 $basemargin*2;
	color: #333;
	.box{
		margin: $basemargin 0;
	}
	h2{
	  margin:0 0 8px;
	}
	.option {
		font-size: 16px;
		strong{
			font-weight: normal;
		}
		span{
			margin: $basemargin;
		}
	}
	.sns_btn{
		overflow: hidden;
		list-style: none;
		margin-right: -$basemargin;
		li{
			float: left;
			margin-right: $basemargin; 
		}
	}
	.comment_area{
		h3 {
		background: #e5e5e5;
		padding: 2px 8px;
		}
		input[type='submit']{
			border:none;
			color: #333 !important;
		}
	}
	.comment {
		//border-bottom: 1px solid #999;
		//background: #efefef;
		//border-radius: 8px;
		padding: 8px;
		margin: 8px 0;
	}
}


.sidenavi {
	.search{
		margin-bottom:$basemargin*2;
		input {
			width: 170px;
			height: 30px;
		}
	}
	 .box {
	 	margin-bottom:$basemargin*3;
		padding: $basemargin $basemargin*2;
		//background: $baselinkcolor;
		//color: white;
		//box-shadow: 1px 1px 4px #999;
	}

	h3 {
		margin: 0;
		font-size: $basefontsize *1.5;
	}
	ul{
		//padding:0 $basemargin*2;
	}
	a{
		color:$sidelinkcolor;
	}
}
 
.side {
	ul{
		margin: $basemargin*2 0;
	}
}



.footer{
	background: #efefef;
	padding: $basemargin*2 $basemargin;
}

.jumbotron{
	ul{
		overflow:hidden;
		padding:0;
		li{
			list-style-type:none;
			padding-left:16px;
			float:left;
		}
	}
}

//.field_with_errors {
//	float: left;
//	overflow: hidden;
//}

.tag_cloud{
	line-height:1.6;
	.s{ font-size:10px}
	.m{ font-size:12px}
	.l{ font-size:14px}
}

@media all and (max-width:768px) {
.header{
	text-align: center;
	h1{
		float: none;
	}
	.smart {
		position: absolute;
		left: 24px;
		top: 24px;
		font-size: 32px;
		width: 46px;
		height: 46px;
		background: #eee;
		color: #fff;
		display: table;
		.nav{
			display: table-cell;
			text-align: center;
			vertical-align: middle;
		}
	}
	.pull-right {
		float: none;
		margin: 0 auto;
	}
	.nav{
	display:none;
	}
	ul li {
		width: 48%;
		text-align: center;
	}
}
.sidenavi {
padding: 24px 0 0;
border-top: 1px solid #eee;
.search input {
width: 75%;
}
.box {
padding: 8px 0;
}
}
   

}
