// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$basebgcolor: #e5e5e5;
$basemargin: 8px;
$baselinkcolor : #464646;
$sidelinkcolor: #429e99;
$basefontsize : 100%;

.pure-button{
	color: white !important;
}
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

.pure-control-group.avatar {

	span {
		display: block;
		margin-left: 180px;
		}
}

.pure-form-aligned .pure-control-group label {
	text-align: left;
	width: 5em;
}

body{
	background:$basebgcolor;
	font-size: $basefontsize;
}

.header{
	margin: $basemargin*2 $basemargin*6;
	padding: $basemargin*2 0;
	a {
	text-decoration:none;
	color: $baselinkcolor;
	}
	ul{
		text-align:right;
	}
	ul li {
		display: inline;
	}
	li.contact a {
		background: #333;
		color: #fff;
		padding: 8px 16px;
		margin-left: 8px;
		&:hover{
			opacity:0.7;
		}
		}
}

.contents{
	margin: $basemargin*2 $basemargin*6;
	h2{
		margin:4px 0;
	}
	.option{
		font-size:80%;
		a{
			color: $sidelinkcolor;
			text-decoration:underline;
		}
	}
	.photo{
		margin: 8px auto;
	}
	.text{
		color: #666;
	}
}

.postslist {
	background: white;
	box-shadow: 1px 1px 1px #ccc;
	a {
		color: $baselinkcolor;
		text-decoration:none;
	}
	h2{
		font-size: $basefontsize *2.4;
		text-shadow: -1px -1px 0px #eee;
	}
	.more{
		margin: $basemargin*2 0;
	}
}

.post{
	padding: $basemargin*2;
	color: #333;
	.comment_area{
		h3 {
		background: #e5e5e5;
		padding: 2px 8px;
		}
		input[type='submit']{
			border:none;
			color: #333 !important;
		}
	}
	.comment {
		//border-bottom: 1px solid #999;
		//background: #efefef;
		//border-radius: 8px;
		padding: 8px;
		margin: 8px 0;
	}
}


.sidenavi {

	 .box {
	 	margin-bottom:24px;
		padding: $basemargin $basemargin*2;
		background: $baselinkcolor;
		color: white;
		box-shadow: 1px 1px 4px #999;
	}

	h3 {
		margin: 0;
		font-size: $basefontsize *1.5;
	}
	ul{
		padding:0 $basemargin*2;

	}
	a{
	color:$sidelinkcolor;
	}
}
 
.side {
	margin: 0px $basemargin*2;
}



.footer{
	background: #efefef;
	padding: $basemargin*2 $basemargin*6;
}

.dev{
	margin: $basemargin*2;
	border: 1px solid #ccc;
	background: #eee;
	ul{
	overflow:hidden;
	padding:0;
		li{
			list-style-type:none;
			padding-left:16px;
			float:left;
		}
	}
}

.field_with_errors {
	float: left;
	overflow: hidden;
}

.tag_cloud{
	line-height:1.6;
	.s{ font-size:10px}
	.m{ font-size:12px}
	.l{ font-size:14px}
}