// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reservations {
	
	.sidenavi {
		form {
			margin: 0 auto;
		}
		.error{
			color:#f00;	
		}
	}

	table{
		h2{
			font-size:20px;
		}
	.fc-time{
			display:none;
		}
	}
	 

	.reservation_form {
		margin-bottom:16px;
		li{
			padding: 0;
		  list-style-type:none;
		}
		label {
			margin-bottom: 0
		}
		dl {
			overflow: hidden;
		}
		dt,dd{
		  margin:8px 0;
		  padding: 16px 0;
		  text-align: left;
			border-bottom: 1px solid #eee;
		}
	}

	.search_btn {
		text-align: center;
	}

	.on{
		background:#F7F7F9;
		cursor: pointer;
	}

	.today  {
		overflow: hidden;
		h3{
			margin-top: 0;
			overflow: hidden;
			width: 130px;
			white-space: nowrap;
		}
		ul{
			margin-right: -50px;
			padding: 0;
			li{
				float:left;
				list-style-type:none;
				margin-right: 32px;
				margin-bottom: 32px;
			}
		}
	}

	.new{
		.date{
			margin-bottom:16px;
		}
	}
	
}


@media all and (max-width:768px) {
	.reservations {
		.reservation_form {
			dt,dd{
				text-align:center;
			}
		}
		.new{
			margin:0 auto;
			width:95%;
		}
		.search_btn{
			clear:both;
			margin-top: 32px;
		}
	}
}