<!DOCTYPE html>
<html>
<head>
  <title>MyApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
  $(function(){
  	$(window).on('load resize', function(){
			if($(window).width()>902){
	  		$(".header .nav").css("display","block");
	  	}
		});
  	$(".smart").click(function() {
  		$(".header .nav").toggle();
  	});
  })
  </script>
</head>
<body>
	<div class="container">

	<%= yield %>

	</div>

</body>
</html>
